@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 17 24 39; /* neutral-900 */
  --background: 250 250 250; /* neutral-50 */
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-card {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 24px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.clothing-icon {
  width: 60px;
  height: 60px;
}
